@font-face{
  font-family: "Product Sans";
  src: url('./fonts/ProductSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Product Sans";
  src: url('./fonts/ProductSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: "Product Sans";
  src: url('./fonts/ProductSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Product Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9C8E76;
}
.title-text-color {
  color: #3F3631;
}
.text-center {
  text-align: center;
}
.red-text {
  color: #EB5757;
  margin: 0;
}
.gray-text-color {
  color: #828282;
}
h1 {
  margin: 0;
  font-size: 3.375rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.125rem;
  margin: 0.75rem auto;
}
h4, h5 {
  font-weight: 500;
}
p {
  line-height: 145%;
  margin: 0;
}
main {
  background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0.5), 
      rgba(255, 255, 255, 0.5)
    ), 
    url(./images/background.svg);
  backdrop-filter: blur(100px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.top-navbar {
  padding: 1.5rem 7.639vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex: 10%;
}
.top-nav-links {
  display: inline-flex;
  justify-content: center;
  flex: 75%;
}
.menu-item, 
.mobile-menu-item {
  padding: 0.5rem 1rem;
  color: #000000;
}
.cart-and-profile-image-container {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  flex: 15%;
}
.profile-picture {
  background-image: url(./images/profile-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 10px 40px rgba(45, 65, 102, 0.1));
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  margin-left: 2.5rem;
  height: 3.125rem;
  width: 3.125rem;
}
.mobile-menu-btn {
  display: none;
  flex: 10%;
}
.mobile-menu-btn, 
.close-mobile-menu-btn {
  text-align: right;
}
.mobile-menu-btn button, 
.close-mobile-menu-btn button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  background-color: rgba(235, 87, 87, 0.1);
  color: #EB5757;
  font-family: 'Product Sans';
  font-size: 1.125rem;
  font-weight: 500; 
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
}
.mobile-menu-btn button:hover, 
.mobile-menu-btn button:focus, 
.close-mobile-menu-btn button:hover, 
.close-mobile-menu-btn button:focus {
  border: 1px solid #EB5757;
}
.mobile-nav {
  display: none;
  background-color: #FFFFFF;
  border-radius: 0.625rem;
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: 2px 10px 40px rgba(45, 65, 102, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.mobile-avatar-and-close-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-cart-and-avatar {
  display: inline-flex;
  align-items: center;
}
.mobile-nav-links {
  padding: 2rem 0;
}
.mobile-menu-item {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.main-section {
  display: flex;
  align-items: center;
  padding: 5.375rem 0 0 7.639vw;
}
.highlighted-coffee-container {
  display: inline-flex;
  flex-direction: column;
  flex: 20%;
  margin: 0 1.25rem 0 0;
}
.highlighted-coffee-bag-img, 
.small-coffee-card-img {
  margin: 0 auto -7rem;
  max-width: 100%;
  height: auto;
  position: relative;
}
.enlarged-coffee-card, 
.small-coffee-card {
  background: #FFFFFF;
  box-shadow: 2px 10px 40px rgba(45, 65, 102, 0.1);
  border-radius: 0.625rem;
  padding: 7rem 1.3125rem 2rem;
}
.enlarged-coffee-name {
  margin: 0.75rem auto;
}
.quantity-and-price-container {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.375rem;
  margin-top: 0.75rem;
}
.heading-paragraph {
  margin: 1.25rem 0 3.125rem;
  max-width: 31rem;
}
.main-heading-text-area {
  margin: 0 0 3.5rem 5.375rem;
}
.main-text-and-small-coffee-cards-container {
  flex: 80%;
}
.small-coffee-cards-group-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 5.375rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.small-coffee-cards-group-container::-webkit-scrollbar{
  display: none;
}
.small-coffee-card-container {
  cursor: pointer;
  margin: 0 1.25rem;
  flex: 22%;
  outline: none;
  scroll-snap-align: center;
}
.small-coffee-card-container:hover .small-coffee-card, 
.small-coffee-card-container:focus .small-coffee-card {
  border: 1px solid #EB5757;
  transition: all .4s ease-out;
}
.small-coffee-card {
  text-align: center;
  border: 1px solid transparent;
}

@media (max-width: 768px) {
  .top-nav-links, 
  .cart-and-profile-image-container {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
  }
  .mobile-nav {
    display: block;
  }
  .profile-picture {
    margin: 0 2.5rem 0 0;
  }
  .main-section {
    display: block;
  }
  .highlighted-coffee-container {
    display: none;
  }
  .main-heading-text-area {
    margin-left: 0;
    padding-right: 7.639vw;
  }
  .small-coffee-card-container {
    flex: 1 0 30%;
  }
}

@media (max-width: 640px) {
  .small-coffee-card-container {
    flex: 1 0 60%;
  }
}